# C++ project gitignore file
# Source: https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore
# With some modifications.

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Tag files
tags
.tags
!tags/
tags.lock

# Ignore bin / build / folder contents
build/*
bin/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Core dumps
core.*

# Log files
*.log
*log.txt
